/* Change */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

/*Startpage mit BTN Anker*/
.backround {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(10, 28, 100, 0.5)),
    url(./img/firstpic.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0.8% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255);
}

nav img {
  width: 20%;
}
.textbox {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.textbox h1 {
  font-size: 62px;
}

.textbox p {
  font-size: 18px;
  margin: 10px 0 40px;
  color: #fff;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  border: 1px solid #1c9d88;
  background-color: #1c9d88;
  transition: 1s;
}

/* Karte */
#cantons_bg .canton.active path {
  fill: rgb(250, 125, 146) !important;
}

.karte {
  width: 80%;
  margin: auto;
  margin-bottom: 8%;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

.karte p {
  color: #777;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}

#tooltip-map {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: #c4d7f7;
  color: black;
  border-radius: 5px;
}

.do-not-display {
  display: none;
}
/* Balkendiagramm */
#ausbildungChart {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 1s;
}
#ausbildungChart:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}
.balkendiagramm p {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}
.back {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9),
    rgba(236, 239, 251, 0.7)
  );
}
.back2 {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(236, 239, 251, 0.7)
  );
  height: 100vh;
  padding-bottom: 10%;
}
.balkendiagramm {
  width: 78%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5%;
}
.balkendiagramm p {
  padding-top: 2%;
  padding-bottom: 5%;
  font-size: 16px;
}

/* Kuchendiagramm */
.row {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.col {
  font-size: 16px;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 90px;
  flex-basis: 32%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(214, 221, 248, 0.7)
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 40px 50px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}
/* anpassen für Screen */
@media (max-width: 700px) {
  .textbox h1 {
    font-size: 20px;
  }

  nav-links {
    position: absolute;
    background: #1c9d88;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav img {
    width: 45%;
  }
  .row {
    flex-direction: column;
  }
}
/* Footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 60px;
  font-size: 20px;
}

.footer {
  background: rgba(4, 19, 74, 0.9);
  color: #fff;
  padding: 25px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 2%;
}

.chart-container {
  margin-top: 2%;
}

#specialTitle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  width: 80%;
  text-align: center;
}

/* Checkboxe */

.checkbox-container label {
  color: #777;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.checkbox-container input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #777;
}

/* Linie verstecken, wenn Checkbox ausgewählt ist */
.checkbox-container input[type='checkbox']:checked + label::after {
  display: none;
}

.checkbox-container label:hover {
  color: #484545;
  font-weight: 650;
}
.check {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.check label {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
  overflow-wrap: break-word;
}

/* Checkboxe Kuchendiagramm*/
.checkbox-wrapper-52 *,
.checkbox-wrapper-52 ::after,
.checkbox-wrapper-52 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-52 .item .cbx {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox-wrapper-52 .item .cbx svg {
  position: relative;
  top: -1px;
  transform: scale(0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.checkbox-wrapper-52 .item .cbx svg polyline {
  stroke-width: 2;
  stroke: #183fcd;
}

.checkbox-wrapper-52 .item .cbx:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #183fcd;
  transform: scale(0);
}

.checkbox-wrapper-52 .item .cbx:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0 -18px 0 #183fcd, 12px -12px 0 #183fcd, 18px 0 0 #183fcd,
    12px 12px 0 #183fcd, 0 18px 0 #183fcd, -12px 12px 0 #183fcd,
    -18px 0 0 #183fcd, -12px -12px 0 #183fcd;
  transform: scale(0);
}

.checkbox-wrapper-52 .item .cbx-lbl {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkbox-wrapper-52 .item .cbx-lbl:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: #9098a9;
}

.checkbox-wrapper-52 .item input {
  display: none;
}

.checkbox-wrapper-52 .item input:checked + .cbx {
  border-color: transparent;
}

.checkbox-wrapper-52 .item input:checked + .cbx svg {
  transform: scale(1);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}

.checkbox-wrapper-52 .item input:checked + .cbx:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.3s ease;
}

.checkbox-wrapper-52 .item input:checked + .cbx:after {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}

.checkbox-wrapper-52 .item input:not(:checked) ~ .cbx-lbl {
  color: #9098a9;
}

.checkbox-wrapper-52 .item input:not(:checked) ~ .cbx-lbl:after {
  width: 100%;
  transition: all 0.4s ease;
}
.check .checkbox-wrapper {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.checkbox-wrapper-52 {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-wrapper-52 input[type='checkbox'] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-52 label {
  margin-left: 4px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
.checkbox-container input {
  display: none;
}

/* Review Section */
#review-section {
  padding: 30px;
  background: linear-gradient(to bottom, #ffffff, #e8f0ff);
}

.review-form {
  background: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.review-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.review-form input,
.review-form select,
.review-form textarea {
  width: 95%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.review-form button {
  width: 100%;
  padding: 12px;
  padding-right: 0px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #005fa3;
}

#reviews-container {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#reviews-container h2 {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.review {
  background: #f9fbfe;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  padding-right: 0px;
}

.review h3 {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.review .rating {
  font-size: 20px;
  color: gold;
  margin-bottom: 10px;
}

.review p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.review button {
  width: 100px;
  margin-right: 10px;
  padding: 5px 10px;
  padding-right: 0px;
  font-size: 12px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.review button:hover {
  background: #c9302c;
}

.review button.edit {
  background: #5bc0de;
}

.review button.edit:hover {
  background: #31b0d5;
}
/* stars styles */
/* Styling for the stars */
.star-rating {
  display: inline-flex;
  font-size: 5vh;
}

.star {
  font-size: 5vh;
  color: #ddd; /* Default color for unselected stars */
  margin-right: 5px;
  cursor: default; /* Prevent hover effect for static reviews */
}

.star.selected {
  color: gold; /* Color for selected stars */
}

